<section class="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <section class="api_box clearfix">
                    <div class="api_box_body">
                        <form class="form-horizontal">
                            <h4><img src="/images/ic_alt.png"> Register a new al+ account</h4>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="text" ng-model="user.given_name" name="given_name" class="form-control" placeholder="名">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" ng-model="user.family_name" name="family_name" class="form-control" placeholder="性">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" ng-model="user.middle_name" name="middle_name" class="form-control" placeholder="ミドルネーム">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <label><input type="radio" ng-model="user.gender" id="male" name="gender" value="male"/>男</label>
                                    <label><input type="radio" ng-model="user.gender" id="female" name="gender" value="female" />女</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" ng-model="user.email" name="email" class="form-control" placeholder="メールアドレス">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="password" ng-model="user.password" name="password" class="form-control" placeholder="パスワード">
                                </div>
                            </div>
                            <p>I agree to the <a ng-href="/terms_of_use">Terms of Use</a> and want to register.</p>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button ng-click="signup()" class="btn btn-primary btn-block btn-lg animated fadeInUp">Sign Up</button>
                                </div>
                            </div>
                            <p>If you already have a al+ account, please login from <a href="/login">here</a>.</p>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>