<section class="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <section class="api_box clearfix">
                    <div class="api_box_body">
                        <form class="form-horizontal">
                            <h4><img src="/images/ic_alt.png"> Login using al+ account</h4>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input ng-model="username" type="text" name="" class="form-control" placeholder="メールアドレス">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input ng-model="password" type="password" name="" class="form-control" placeholder="パスワード">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button ng-click="login()" class="btn btn-primary btn-block btn-lg animated fadeInUp">Log In</button>
                                </div>
                            </div>
                            <p>If you don't have a al+ account, please sign up <a href="/signup">here</a>.</p>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>