<section class="signup">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<section class="api_box clearfix">
					<div class="api_box_body">
						<form ng-if="loginIsEnabled" class="form-horizontal">
							<img src="images/illust_email_done.svg" alt="E-mail authentication completed">
							<h4>E-mail authentication completed</h4>
							<div class="form-group">
								<div class="col-sm-6 col-sm-offset-3">
									<a href="/login" class="btn btn-primary btn-block btn-lg animated fadeInUp">Log In</a>
								</div>
							</div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>