<section class="document data_linkage">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div ng-include="leftNavigation()"></div>
            </div>
            <div class="col-md-9">
                <section class="api_box clearfix">
                    <header class="col-md-12 clearfix">
                        <h3>Data Linkage</h3>
                        <p>あなたのプロフィール・スケジュール・写真などを連携することで<br>AIがあなたを自動解析し最適なアウトプットを生み出します。</p>
                    </header>
                    <div class="api_box_body clearfix">
                        <div class="sns_container">
                            <ul class="clearfix">
                                <li>
                                    <img src="images/sns_Facebook.png" />
                                    <p>Facebook</p>
                                    <input type="checkbox" ng-model="isLoginFb" ng-change="loginWithFb()"  bs-switch>
                                </li>
                                <li>
                                    <img src="images/sns_Twitter.png" />
                                    <p>Twitter</p>
                                    <input type="checkbox" ng-model="isLoginTwitter" ng-change="loginWithTwitter()"  bs-switch>
                                </li>
                                <li>
                                    <img src="images/sns_GooglePlus.png" />
                                    <p>Google</p>
                                    <input type="checkbox" ng-model="isLoginGoogle" ng-change="loginWithGoogle()"  bs-switch>
                                </li>
                                <li>
                                    <img src="images/sns_Slack.png" />
                                    <p>Slack</p>
                                    <input type="checkbox" ng-model="isLoginSlack" ng-change="loginWithSlack()"  bs-switch>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section> 
