.alert-messages {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 10000000;
		
		border-radius: 0;
		border: 0;
		text-align: center;
}
.alert-messages button	{
	margin: 0 20px;
}

.alert-messages.alert-info {
	background-color: #08a3ef !important;
	color: #fff !important;
}