/* =========================================
OSCAR - Responsive App Landing Page - RESPONSIVE FIXES
========================================= */
@media (min-width: 1200px) {
	html {
		font-size: 110.75%;
	}
}
@media (max-width: 1024px) {
	
	
}
 
@media (max-width: 991px) {
	html {
	}
		
	body.minimum_header_body {
		padding-bottom: 0;
	}
	
	.navbar button.offcanvas-toggle {
		float: left;
		background: none;
		color: #bfbfbf;
		margin: 0 10px 0 -10px;
		font-size: 18px;
		border: 0;
		display: block;
		padding-top: 0;
		padding-bottom: 0;
	}
	.navbar button.offcanvas-toggle:focus, 
	.navbar button.offcanvas-toggle:hover {
		box-shadow: none;
	}
	.navbar {
		min-height: 0;
	}
	
	.footer {
		position: relative;
		border-top: 0;
		padding: 1rem 0 !important;
		margin-top: 1em !important;
	}
	.footer .copyright	{
		padding: 5px 15px 0 !important;
		text-align: center !important;
	}
	.footer .logo, 
	.minimum_footer .logo {
		font-size: 1.2em !important;
	}
	.minimum_footer:hover, 
	.minimum_footer:focus {
		box-shadow: none;
	}
	
	#home #homescreen .site_title h1 {
		font-size: 3em;
	}
	#home #homescreen .site_title p {
		font-size: 1.2em;
	}
	#home #homescreen .site_functions {
		top: 40%;
	}
	#home #homescreen .button a {
		padding: 0.8em 3.5em;
	}
	#home #homescreen .button_signup {
		top: 70% !important;
	}
	#home #homescreen .button_signup a {
		font-size: 1em;
		padding: 0.8em 3em;
	}
	#home #footer {
		position: absolute;
	}
	
}

@media (min-width: 768px) {
	
	
	
}

@media (max-width: 767px) {
	html {
	}
	body {
		font-size: 15px;
		line-height: 26px;
	}
	
	.navbar .nav > li {
		display: inline-block;
		float: left;
		width:100%;
		border-bottom: 1px dotted #CCCCCC;
	}
	.navbar .nav > li:last-child {
		border-bottom:none;
	}
	.navbar .nav {
		text-align: left;
		width: 100%;
		margin:0;
	}
	.navbar .nav > li > a {
		font-size: 12px;
		line-height: 25px;
	}
	
	.navbar:hover .top_menu_account .nav > li > a .navbar_avatar, 
	.navbar:focus .top_menu_account .nav > li > a .navbar_avatar {
		height: 30px;
		width: 30px;
	}
	.top_menu_account .nav > li > a {
		padding-top: 7px;
		padding-bottom: 0;
		float: right;
		padding-right: 0;
		padding-left: 0;
	}
	.top_menu_account .nav > li > a .navbar_avatar {
		margin: 0 5px 0 3px;
	}
	.top_menu_account .navbar-nav .open .dropdown-menu {
		background: #fff;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
		position: absolute;
	}

}

@media (max-width: 568px) {
	html {
	}
	
	body {
		padding-top: 5em;
	}
	
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.5em;
	}
	h4 {
		font-size: 1.2em;
	}
	p {
		font-size: 1em;
		line-height: 1.6;
	}
	
	body.minimum_header_body {
		padding-bottom: 0;
	}
	
	.navbar-inner {
		min-height: 50px !important;
	}
	.navbar-inner .container, 
	.navbar-inner .container-fluid {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
	
	#logo img {
		height: 30px !important;
	}
	#logo span {
		font-size: 0.8em !important;
		padding-left: 10px !important;
	}
	
	.top_menu {
		margin-top: 7px !important;
	}
	.top_menu ul li a {
		padding: 4px 10px !important;
		font-size: 0.8em !important;
	}
	
	.api_box header {
		padding: 0 15px;
	}
	.api_box .api_box_body {
		padding: 20px 15px 30px;
	}
	.api_box .tab_actions {
		margin-top: 10px;
		margin-bottom: 0;
		position: relative;
		left: auto;
		top: auto;
	}
	
    #homescreen .site_title img {
        height: 100px;
    }
    #homescreen .site_title p {
        font-size: 1.2em;
        margin-top: 20px;
    }
    #homescreen .button a {
        padding: 0.8rem 3.5rem;
    }
	
	.account_setting .retrieved_data h5 {
		margin-bottom: 0;
	}
	.account_setting .retrieved_data .retrieved_data_icons {
		padding-top: 0;
	}
	
}

@media (max-width: 480px) {
	html {
	  }
	
	#home #homescreen .site_title {
		top: 10%;
	}
	#home #homescreen .site_title h1 {
		line-height: 1.3;
	}
	#home #homescreen .site_title p {
		font-size: 1em;
	}
	#home #homescreen .site_functions {
		top: 40%;
		margin-left: -165px;
		width: 330px;
	}
	#home #homescreen .site_functions .function {
		color: #fff;
		float: left;
		text-align: center;
		width: 90px;
		margin: 0 10px;
	}
	#home #homescreen .site_functions .function_icon img {
		height: 90px;
		width: 90px;
	}
	#home #homescreen .site_functions .function h5 {
		line-height: 1.2;
	}
	#home #homescreen .site_functions .function p {
		font-size: 0.8em;
	}
	
	.tutorial_header #logo img {
		height: 40px;
	}
	.tutorial_header .close_tutorial a {
		margin-top: 3px;
	}
	.tutorial_header .close_tutorial a img {
		height: 20px;
		width: 20px;
	}
	.tutorial_body h3 {
		font-size: 1.5em;
	}
	.tutorial1 .title, 
	.tutorial2 .title {
		padding-top: 0;
	}
	
	.tutorial_next_btn {
		width: 120px;
		margin-left: -60px;
	}
	.tutorial_prev_btn {
		width: 120px;
	}
	
	.recording p.record_text {
		padding-top: 10px;
		margin-bottom: 10px;
	}
	.canvas {
		margin-bottom: 30px;
	}
	
	.recording_playlist_label table {
		display: none;
	}
	.recording_playlist_list table th, 
	.recording_playlist_list table td {
		display: block;
		width: 100% !important;
	}
	.recording_playlist_list table th {
		padding-top: 20px;
	}
	.recording_playlist_list table td:nth-child(2), 
	.recording_playlist_list table td:nth-child(3) {
		padding-top: 0;
	}
	.recording_playlist_list table td:nth-child(4) {
		padding-bottom: 30px;
	}
	.recording_playlist_list .btn_record {
		top: 10px;
	}
	.recording_playlist_list .audio_player_slider {
		margin-top: 0;
		top: -6px;
	}
	.recording_playlist_list .audio_player_time {
		float: none;
		position: absolute;
		left: 150px;
		top: 0;
	}
	
	
	
	
}