/* =========================================
 STYLES
========================================= */

html {
    font-size: 100%;
}
body {
	background: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #1a2024;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@-o-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
a {
    -webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
	cursor:pointer;
}
a:hover {
    text-decoration: none;
	color:#fff
}
.btn:focus,
.btn:active {
    outline: inherit;
}
textarea:focus,
input:focus {
    color: #ffffff;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul,
ol {
    padding-left: 0 !important;
}
li {
    list-style: none;
}
*{
	outline:0px;
}
::-webkit-input-placeholder {color: #FFFFFF}
:-moz-placeholder {color: #FFFFFF}
::-moz-placeholder {color: #FFFFFF}
:-ms-input-placeholder  {color: #FFFFFF}

.clear	{
	clear: both;
}

/*---------------------------------------
   TYPOGRAPHY                
-----------------------------------------*/

/* FONT FACE LOADER */

@font-face {
    font-family: 'Lane';
    src: url('fonts/lanenar_Lane.eot');
    src: url('fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('fonts/lanenar_Lane.woff') format('woff'), url('fonts/lanenar_Lane.ttf') format('truetype'), url('fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
 
    @font-face {
        font-family: 'Lane';
        src: url('fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
h1 {
    font-size: 3.75em;
    line-height: 4.688em;
}
h2 {
    font-size: 2.8em;
	line-height: 1em;
}
h3 {
    font-size: 2em;
    line-height: 1.5em;
}
h4 {
    font-size: 1.5em;
    line-height: 1.5em;
}
h5 {
	font-size: 1em;
    line-height: 1em;
}

/*---------------------------------------
   SECTION:  CUSTOM                 
-----------------------------------------*/

a:focus	{
	outline: none;
}

i.icon-left,
i.icon-left {
	margin-right: 8px;
}
i.icon-right,
i.icon-right {
	margin-left: 8px;
}

/* FORM */

label	{
	color: #1a2024;
	font-size: 1.1em;
	font-weight: 300 !important;
	width: auto;
}
.confirm label {
	color: #8f9aa7;
}
input[type="radio"], input[type="checkbox"]	{
	margin-right: 10px !important;
	width: auto;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
textarea {
	border: solid 1px #ebebeb;
	box-shadow: none;
	font-size: 0.9em;
	font-weight: 300;
	line-height: 1.5;
	height:auto;
	padding: 12px 15px;
	background: #fff;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: inherit;
	display:inline-block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
input:focus, 
textarea:focus	{
	border-color: #ebebeb !important;
	color: #0096ff;
	box-shadow: none !important;
}
textarea {
	width: 100%;
}
::-webkit-input-placeholder {
	color: #8f9aa7 !important;
}
::-moz-placeholder {
 	color: #8f9aa7 !important;
}
:-ms-input-placeholder {
	color: #8f9aa7 !important;
}
:-moz-placeholder {
	color: #8f9aa7 !important;
}

button {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button {
	background: #75d43c;
	border: 0;
	border-radius: 5px;
	color: #fff;
	font-weight: 400;
	padding: 0.7em 2em;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
a:hover.button, 
a:focus.button, 
button:hover.button, 
button:focus.button, 
.button.active {
	background: #0096ff !important;
	color: #fff !important;
}

.btn-primary {
	background-color: #248cdd;
	border-color: transparent !important;
	color: #fff;
}
a:hover.btn-primary, a:focus.btn-primary, button:hover.btn-primary, button:focus.btn-primary, .btn-primary.active {
	background: #75d43c !important;
	border-color: transparent !important;
	color: #fff !important;
}
.btn-default {
	background-color: #f5f7f8;
	border-color: transparent !important;
	color: #5f6467;
}
a:hover.btn-default, a:focus.btn-default, button:hover.btn-default, button:focus.btn-default, .btn-default.active {
	background: #f5f7f8 !important;
	border-color: transparent !important;
	color: #75d43c !important;
}
.btn-lg {
	font-size: 0.9em;
	padding-top: 15px;
	padding-bottom: 15px;
}

.form-group {
	margin-bottom: 20px;
}
.form-group .control-label {
	padding-top: 10px;
}

.add_button {
	background: #fff;
	border: 0;
	border-radius: 20px;
	color: #5f6467;
	display: inline-block;
	font-size: 1.3em;
	line-height: 2;
	box-shadow: 0 2px 20px rgba(0,0,0,0.1);
	height: 40px;
	width: 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	text-decoration: none;
}
.add_button:hover, 
.add_button:focus {
	background: #0096ff;
	color: #fff !important;
	box-shadow: none;
	text-decoration: none;
}

/* dropdown animation */
.dropdown .dropdown-menu {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	max-height: 0;
	display: block;
	overflow: hidden;
	opacity: 0;
}
.dropdown.open .dropdown-menu {
	max-height: 350px;
	opacity: 1;
}

/* bootstrap swith override */
.bootstrap-switch {
	margin-top: 5px;
	margin-bottom: 5px;
}


/* OTHER */

section{
	position: relative;
	display: block;
}
p	{
	color: #1a2024;
	font-size: 0.9em;
	font-weight: 300;
	line-height: 2;
	margin-bottom: 2em;
}

.rtl{
	text-align:right;
}
.ltr{
	text-align:left;
}
.uppercase{
	text-transform:uppercase;
}
hr{
	position: relative;
	border-top: 2px solid rgba(0,0,0,0.2);
	width: 100px;
}
.hideme {
	opacity:0;
}

.blue {
	color: #1ca8dd !important;
}

a {
	color: #0096ff;
	text-decoration: underline;
}
a:hover {
	color: #75d43c !important;
}


/*---------------------------------------
   SECTION:  Body                 
-----------------------------------------*/
body {
	padding-top: 8em;
}
body#home {
	padding-top: 0;
}
body.minimum_header_body {
	padding-top: 60px;
	padding-bottom: 60px;
}

/*---------------------------------------
   SECTION:  Navigation                 
-----------------------------------------*/

.navbar {
	background-color: rgba(255,255,255,1);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar.navbar-fixed-top {
	position: fixed;
	z-index: 1110;
	border-bottom: none;
}
.navbar .navbar-inner {
	box-shadow: none !important;
	min-height: 100px;
	line-height: 40px !important;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	border-bottom: none;
	z-index: 10;
}
.navbar .navbar-inner .container, 
.navbar .navbar-inner .container-fluid {
	padding-top: 20px;
	padding-bottom: 20px;
}

.minimum_header.navbar:hover, 
.minimum_header.navbar:focus {
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
.minimum_header .navbar-inner {
	border-bottom: 0px;
	min-height: 50px;
}
.minimum_header .navbar-inner .container, 
.minimum_header .navbar-inner .container-fluid {
	padding-top: 5px;
	padding-bottom: 5px;
}
.minimum_header:hover .navbar-inner .container, 
.minimum_header:focus .navbar-inner .container, 
.minimum_header:hover .navbar-inner .container-fluid, 
.minimum_header:focus .navbar-inner .container-fluid {
	padding-top: 20px;
	padding-bottom: 20px;
}

#logo {
	text-align: left;
	float: left;
}
#logo img {
	height: 60px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#logo span {
	display: inline-block;
	font-size: 1.1em;
	padding-left: 15px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.minimum_header #logo img {
	height: 30px;
}
.minimum_header #logo span {
	font-size: 0.8em;
	padding-left: 10px;
}
.minimum_header:hover #logo img,
.minimum_header:focus #logo img {
	height: 60px;
}
.minimum_header:hover #logo span,
.minimum_header:focus #logo span {
	font-size: 1.1em;
	padding-left: 15px;
}

.top_menu {
	float: right;
	margin-top: 10px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.top_menu ul {
	margin-bottom: 0;
}
.top_menu li {
	float: left;
	margin-left: 10px;
}
.top_menu a {
    border: solid 1px transparent !important;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.5;
    color: rgba(0,0,0,0.7);
    display: block;
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 8px 30px;
    text-transform: uppercase;
    text-decoration: none;
}
.top_menu a.login {
	border: solid 1px rgba(0,0,0,0.2) !important;
	border-radius: 4px;
}

.minimum_header .top_menu {
	margin-top: 6px;
}
.minimum_header .top_menu a {
	font-size: 0.8em;
	padding: 4px 30px;
}
.minimum_header:hover .top_menu,
.minimum_header:focus .top_menu {
	margin-top: 10px;
}
.minimum_header:hover .top_menu a,
.minimum_header:focus .top_menu a {
	font-size: 0.9em;
	padding: 8px 30px;
}

.top_menu_account {
	float: right;
}
.top_menu_account .nav > li > a {
	color: rgba(0,0,0,0.7);
	font-weight: 400;
	font-size: 0.9em;
	display: block;
	height: 100%;
	transition: all 0.3s ease-out 0s;
	text-shadow: none;
	padding-top: 7px;
	padding-bottom: 0;
	text-decoration: none;
}
.top_menu_account .nav > .active > a, 
.top_menu_account .nav > .active > a:hover, 
.top_menu_account .nav > .active > a:focus {
	background: none !important;
	box-shadow: none;
	height: 100%;
	transition: all 0.3s ease-out 0s;
}
.top_menu_account .open > a, 
.top_menu_account .open > a:hover, 
.top_menu_account .open > a:focus {
	background: none !important;
}
.top_menu_account .nav > li > a:focus, 
.top_menu_account .nav > li > a:hover {
	text-decoration: none;
	height: 100%;
	transition: all 0.3s ease-out 0s;
	background: none;
	color: #0096ff !important;
}	
.top_menu_account .nav > li > a .navbar_avatar {
	display: inline-block;
	height: 30px;
	width: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 8px 0 5px;
	position: relative;
	top: -2px;
	transition: all 0.3s ease-out 0s;
}
.navbar:hover .top_menu_account .nav > li > a .navbar_avatar, 
.navbar:focus .top_menu_account .nav > li > a .navbar_avatar {
	height: 50px;
	width: 50px;
}
.top_menu_account .nav > li > a .navbar_avatar img {
	height: 100%;
	width: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.top_menu_account .dropdown-menu {
	border: 0;
	left: auto;
	right: 5px;
}
.top_menu_account .dropdown-menu a {
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	transition: all 0.3s ease-out 0s;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}
.top_menu_account .dropdown-menu a:hover, 
.top_menu_account .dropdown-menu a:focus {
	background: #0096ff;
	color: #fff !important;
}
.top_menu_account .dropdown-menu li.dropdown-menu_title {
	padding: 5px 30px 0;
	font-weight: 600;
}
.top_menu_account .dropdown-menu li.dropdown-menu_group_ai .navbar_avatar {
	display: inline-block;
	height: 50px;
	width: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-right: 10px;
	position: relative;
	top: -2px;
	transition: all 0.3s ease-out 0s;
}
.top_menu_account .dropdown-menu li.dropdown-menu_group_ai .navbar_avatar img {
	height: 100%;
	width: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.top_menu_account .dropdown-menu li.dropdown-menu_group_ai a:hover, 
.top_menu_account .dropdown-menu li.dropdown-menu_group_ai a:focus {
	background: none;
	color: #0096ff !important;
}


/*---------------------------------------
   SECTION:  FOOTER                 
-----------------------------------------*/

.footer {
	background: #fff;
	padding: 30px 0;
	position: fixed;
	bottom: 0;
	display: block;
	width: 100%;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	z-index: 1000;
	margin-top: 1em;
}
.footer .copyright	{
	color: rgba(0,0,0,0.3);
	font-size: 0.75em;
	text-align: left;
	padding-top: 15px;
	margin: 0;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.footer .logo {
	font-size: 1.6em;
	font-weight: 400;
	margin: 0;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.minimum_footer {
	padding: 6px 0;
} 
.minimum_footer:hover, 
.minimum_footer:focus {
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	padding: 30px 0;
}
.minimum_footer .copyright {
	padding-top: 8px;
} 
.minimum_footer:hover .copyright, 
.minimum_footer:focus .copyright {
	padding-top: 15px;
}
.minimum_footer .logo {
	font-size: 1.2em;
} 
.minimum_footer:hover .logo, 
.minimum_footer:focus .logo {
	font-size: 1.6em;
}



/*---------------------------------------
   SECTION:  Document                 
-----------------------------------------*/

.document h3 {
	margin-bottom: 1em;
}
.document .api_doc {
	background: #fff;
	border-radius: 4px;
	text-align: left;
	padding: 40px;
}
.document .api_doc img {
	max-width: 100%;
}
.document .api_doc h2:first-child, 
.document .api_doc h3:first-child, 
.document .api_doc h4:first-child {
	margin-top: 0;
}



/*---------------------------------------
   SECTION:  common parts
-----------------------------------------*/

/*----- side menu -----*/
.api_nav {
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
}
.api_nav .navbar {
	border: 0 !important;
	margin: 0;
}
.api_nav .close_btn {
	display: none;
	float: none !important;
	padding: 20px !important;
	font-size: 26px !important;
}
.api_nav .close_btn i {
	color: #bfbfbf !important;
}
.api_nav ul {
	float: none !important;
	margin: 0;
}
.api_nav ul li {
	border-bottom: solid 1px #ebebeb;
	width: 100%;
}
.api_nav ul li:last-child {
	border: 0;
}
.api_nav li a {
	color: #9fa2a3 !important;
	display: block;
	font-size: 0.9em;
	padding: 1em 1.5em;
	text-decoration: none;
	margin: 0;
	text-align: left;
}
.api_nav li a:hover, 
.api_nav li a:focus {
	color: #75d43c !important;
}
.api_nav li.active a {
	background-color: #018df2 !important;
	color: #fff !important;
}
.api_nav .sidebar-navbar-collapse {
	padding: 0;
}

/*----- api box -----*/
.api_box	{
	background: #fff;
	border-radius: 4px;
	text-align: left;
	/* padding-top: 20px; */
}
.api_box header {
	padding: 20px;
	clear: both;
	text-align: center;
}
.api_box header h3 {
	margin-bottom: 0;
	margin-top: 0;
}
.api_box header p {
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 0;
}
.api_box .api_box_body {
	clear: both;
	padding: 30px 30px 50px;
}

.modal {
	z-index: 1110;
}
.modal-dialog {
	z-index: 1120;
}


/*---------------------------------------
   SECTION:  HOME                 
-----------------------------------------*/
#home .navbar {
	background: transparent;
}
#home .navbar .navbar-inner {
	border: 0;
}

#home #footer {
	background: transparent;
	border: 0;
}
#home #footer:hover, 
#home #footer:focus {
	box-shadow: none;
}

.home {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
#home video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/top_movie.jpg) no-repeat;
    background-size: cover; 
}
#home #homescreen {
	height: 100%;
	text-align: center;
	width: 100%;
}
#home #homescreen .site_title {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
}
#home #homescreen .site_title img {
    height: 143px;
}
#home #homescreen .site_title p {
	font-size: 1.5em;
    font-weight: 300;
    margin-top: 30px
}
/* #home #homescreen .site_functions {
	position: absolute;
	top: 45%;
	left: 50%;
	margin-left: -255px;
	width: 510px;
	text-align: center;
}
#home #homescreen .site_functions .function {
	color: #fff;
	float: left;
	text-align: center;
	width: 130px;
	margin: 0 20px;
}
#home #homescreen .site_functions .function_icon {
	margin: 0 auto;
}
#home #homescreen .site_functions .function h5 {
	font-weight: 400;
	line-height: 1.5;
	margin-top: -20px;
	margin-bottom: 0;
}
#home #homescreen .site_functions .function p {
	color: #d7d7d7;
	margin: 0;
} */
#home #homescreen .button_signup {
	position: absolute;
	bottom: 25%;
	width: 100%;
	text-align: center;
}
#home #homescreen .button_signup a {
    background: #303d37;
    color: #fff;
	font-size: 1.2em;
	font-weight: 600;
	padding: 0.8em 4em;
	text-transform: uppercase;
	box-shadow: 0 0 24px rgba(0,0,0,0.2);
}

/*---------------------------------------
   SECTION:  Account Setting Account                 
-----------------------------------------*/
.account_setting_account button {
	margin-top: 50px;
}

/*---------------------------------------
   SECTION:  Sgin up                 
-----------------------------------------*/
.alt_signup_button {
    background-color: #231f20;
    background-image: url(../images/ic_arrow_right_white.svg);
    background-position: 96% 20px;
    background-repeat: no-repeat;
    background-size: 12px 11px;
    color: #fff;
    display: block;
    border-radius: 4px;
    padding:  10px 10px;
    text-align: center;
    text-decoration: none;
    position: relative;
    margin-bottom: 30px;
}
.alt_signup_button img {
    margin-right: 5px;
    height: 30px;
    width: 30px;
}
.signup {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.signup h4 {
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 30px;
}
.signup p {
    word-break: break-all;
}
.signup .api_box_body {
    padding: 50px 60px 40px;
    text-align: center;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*---------------------------------------
   SECTION:  Account Setting Data Linkage
-----------------------------------------*/
.sns_container	{
	margin-bottom: 50px;
}
.sns_container h5 {
	color: #0090f5;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 2em;
}
.sns_container ul li	{
	padding: 5px 0;
	position: relative;
	border-bottom: solid 1px #ebebeb;
	min-height: 70px;
	text-align: left;
}
.sns_container ul li img	{
	height: 60px;
	width: 60px;
	float: left;
	margin-right: 15px;
	margin-left: 200px;
}
.sns_container ul li p	{
	display: inline-block;
	font-size: 0.9em;
	font-weight: 400;
	line-height: 1;
	margin: 20px 0 10px;
}
.sns_container ul li .bootstrap-switch	{
	float: right;
	margin-top: 10px;
	margin-right: 200px;
}
.sns_checkbox_on {
	padding: 30px 0 10px;
}
.sns_checkbox_on label {
	text-align: right;
}

.retrieved_data {
	border-top: solid 1px #ebebeb;
	clear: both;
	margin-left: -30px;
	margin-right: -30px;
}
.retrieved_data h5 {
	display: inline-block;
	font-weight: 400;
	padding: 30px 30px 20px;
}
.retrieved_data .retrieved_data_icons {
	float: right;
	padding: 30px 30px 10px 0;
}
.retrieved_data_icon {
	background: #f8f8f8;
	border-radius: 6px;
	color: #5f6467;
	float: right;
	font-size: 0.9em;
	font-weight: 400;
	margin-left: 10px;
	padding: 6px 10px 4px;
}
.retrieved_data_icon img {
	height: 20px;
	width: 20px;
	margin-right: 5px;
	margin-top: -2px;
}
.retrieved_data ul {
	border-top: solid 1px #ebebeb;
	clear: both;
	margin: 0 30px;
}
.retrieved_data ul li {
	padding: 15px 0;
	position: relative;
	border-bottom: solid 1px #ebebeb;
}
.retrieved_data ul li p {
	display: inline-block;
	font-weight: 400;
	margin: 5px 0;
}
.account_setting_data_linkage button {
	margin-top: 50px;
}


/*---------------------------------------
   SECTION:  Account Setting Profile
-----------------------------------------*/
.retrieved_data_source {
	font-size: 0.8em;
	line-height: 2.5;
	padding: 8px 0 8px 50px;
	position: relative;
}
.retrieved_data_source img {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 10px;
	left: 5px;
}
.retrieved_data_source img.ai {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	top: 5px;
	left: 0px;
}
.account_setting_profile button {
	margin-top: 50px;
}


/*---------------------------------------
   SECTION:  Account Setting Friend
-----------------------------------------*/
.account_setting_friend_input {
	position: relative;
	margin-bottom: 30px;
}
.account_setting_friend_input input {
	padding-right: 90px;
	width: 100%;
}
.account_setting_friend_input button {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 80px;
}
ul.account_setting_friend_list li {
	border-bottom: solid 1px #ebebeb;
	padding: 20px 0 20px 70px;
	position: relative;
	text-align: left;
}
ul.account_setting_friend_list li:last-child {
	border: 0;
}
ul.account_setting_friend_list li img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 0;
}
ul.account_setting_friend_list li p {
	display:  inline-block;
	font-weight: 400;
	margin: 0;
	text-align: left;
}
ul.account_setting_friend_list li button {
	float: right;
	width:  80px;
}


/*---------------------------------------
   SECTION:  Account Setting Avatar
-----------------------------------------*/
.avatar_thumb {
	text-align: center;
}
.avatar_thumb_upload {
	width: 220px;
	margin: 0 auto 30px;
	position: relative;
	text-align: center;
}
.avatar_thumb_upload form {
	background-image: url(../images/avatar_thumb_upload.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 220px;
	width: 220px;
	border-radius: 50%;
	cursor: pointer;
}
.avatar_thumb_upload .dz-message {
	display: none;
}
.avatar_thumb_upload .dz-preview .dz-image img {
	height: 220px;
	width: 220px;
	border-radius: 50%;
}
.avatar_thumb_upload .dz-details, .avatar_thumb_upload .dz-progress, .avatar_thumb_upload .dz-error-message, .avatar_thumb_upload .dz-success-mark, .avatar_thumb_upload .dz-error-mark {
	display: none;
}
.avatar_thumb_upload img {
	position: absolute;
	top: 80px;
	margin-left: -13px;
}
.avatar_thumb_upload p {
	color: #fff !important;
	position: absolute;
	text-align: center;
	top: 110px;
	width: 100%;
}
.avatar_thumb h5 {
	color: #018df2;
	margin-bottom: 5px;
}
.avatar_thumb p {
	color: #9fa2a3;
}


/*---------------------------------------
   SECTION:  Account Setting Items
-----------------------------------------*/
.account_setting_items ul.account_setting_items_list li {
	border-bottom: solid 1px #ebebeb;
	padding: 15px 0;
}
.account_setting_items ul.account_setting_items_list li:last-child {
	border: 0;
}
.account_setting_items ul.account_setting_items_list li p {
	display:  inline-block;
	font-size: 1.1em;
	margin: 0;
	text-align: left;
}
.account_setting_items ul.account_setting_items_list li button {
	float: right;
	width:  80px;
}


/*---------------------------------------
   SECTION:  Tutorial Setting
-----------------------------------------*/
ul.tutorial_setting_voice_list li {
	border-bottom: solid 1px #ebebeb;
	padding: 20px 0 20px 70px;
	position: relative;
	text-align: left;
}
ul.tutorial_setting_voice_list li img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 0;
}
ul.tutorial_setting_voice_list li p {
	display:  inline-block;
	font-weight: 400;
	margin: 0;
	text-align: left;
}
ul.tutorial_setting_voice_list li button {
	float: right;
	width:  80px;
}
ul.tutorial_setting_voice_list li input[type=radio] {
	position: absolute;
	visibility: hidden;
}
ul.tutorial_setting_voice_list li label {
	position: relative;
	padding: 0;
	cursor: pointer;
	font-size: 1em;
	font-weight: 400 !important;
	margin: 0;
	z-index: 1;
}
ul.tutorial_setting_voice_list li .check {
	display: block;
	position: absolute;
	background: #f8fdff;
	border: 1px solid #c9e6f1;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	top: 20px;
	right: 0;
	z-index: 0;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
ul.tutorial_setting_voice_list input[type=radio]:checked ~ .check {
  border: 5px solid #018df2;
}
.tutorial_setting_setting .form-group {
	text-align: right;
}
.tutorial_setting_setting .form-group button {
	width: 80px;
	margin-left: 10px;
	margin-top: 10px;
}


/*---------------------------------------
   SECTION:  Tutorial Setting Recording
-----------------------------------------*/
.tutorial_setting_recording header {
	padding-bottom: 0;
}
.tutorial_setting_recording .record_text {
	padding-top: 10px !important;
}
.tutorial_setting_recording .tutorial_next_btn {
	float: right;
	left: 0;
	position: relative;
}

.recording_playlist {
	padding: 0 30px 50px;
}
.recording_playlist h3 {
	margin-bottom: 15px;
}
.recording_playlist h3 span {
	color: #8f9aa7;
	font-size: 14px;	
}
.recording_playlist_label {
	background: #fbfbfb;
	height: 40px;
	margin-left: -30px;
	margin-right: -30px;
	position: relative;
}
.recording_playlist_label .volume_slider {
	padding-top: 0;
	position: absolute;
	top: 5px;
	right: 30px;
}
.recording_playlist_label table {
	margin: 0 30px;
	width: calc(100% - 60px);
}
.recording_playlist_label table th, 
.recording_playlist_label table td {
	font-size: 0.7em;
	font-weight: normal;
	padding: 5px 10px;
}
.recording_playlist_label table td:first-child {
	width: calc(62% - 250px);
}
.recording_playlist_label table td:nth-child(2) {
	width: 20%;
}
.recording_playlist_label table td:nth-child(3) {
	width: 8%;
}
.recording_playlist_label table td:nth-child(4) {
	width: 250px;
}

.recording_playlist_list {
}
.recording_playlist_list table {
	font-size: 0.9em;
	line-height: 1.6;
	width: 100%;
}
.recording_playlist_list table tr {
	border-bottom: solid 1px #ebebeb;
}
.recording_playlist_list table th {
	padding: 10px;
	width: calc(62% - 250px);
}
.recording_playlist_list table th span {
	color: #8f9aa7;
	display: block;
	font-size: 0.9em;
	font-weight: normal;
}
.recording_playlist_list table td {
	padding: 10px;
	text-align: left;
}
.recording_playlist_list table td:nth-child(2) {
	color: #8f9aa7;
	width: 20%;
}
.recording_playlist_list table td:nth-child(3) {
	color: #8f9aa7;
	width: 8%;
}
.recording_playlist_list table td:nth-child(4) {
	width: 250px;
	position: relative;
}

.recording_playlist_list .btn_record {
	height: 24px;
	width: 24px;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -12px;
}
.recording_playlist_list .btn_record_play span {
	margin: 0 0 0 3px;
	border-width: 5px 0 5px 9px;
}
.recording_playlist_list .btn_record_pause {
	background: #018df2;
	padding-top: 0;
}
.recording_playlist_list .btn_record_pause span {
	height: 10px;
	width: 3px;
	border-radius: 0;
	margin: 0 1px;
}

.recording_playlist_list .audio_player_slider {
	margin: 0;
	width: 90px;
	position: absolute;
	left: 40px;
	top: 50%;
	margin-top: -20px;
}
.recording_playlist_list .audio_player_slider #audio_player {
    width: 90px;
}
.recording_playlist_list .audio_player_slider #audio_track {
	width: 90px;
}
.recording_playlist_list .audio_player_slider #audio_track .audio_track_range {
	width: 0;
}
.recording_playlist_list .audio_player_slider #audio_track .audio_track_handle {
	margin-left: 0;
}
.recording_playlist_list .audio_player_time {
	float: right;
	width: 100px;
	margin-bottom: 0;
}
.recording_playlist_list .audio_player_time span {
	color: #8f9aa7;
}
.recording_playlist_list table tr.selected {
	border-bottom: 0;
	box-shadow: 0 4px 40px rgba(0,0,0,0.1);
	position: relative;
	top: -1px;
}
.recording_playlist_list table tr.selected th, 
.recording_playlist_list table tr.selected td {
	color: #1a2024;
}
.recording_playlist_list table tr.selected .audio_player_time span {
	color: #018df2;
}


/*---------------------------------------
   SECTION:  Tutorial Setting Friend
-----------------------------------------*/
.tutorial_setting_friend .form-group button {
	margin-top: 50px;
}


/*---------------------------------------
   SECTION:  Tutorial Setting Addon
-----------------------------------------*/
.tutorial_setting_addon header img {
	margin-left: 40px;
	margin-bottom: 20px;
}
ul.account_setting_browser_list li {
	border-bottom: solid 1px #ebebeb;
	padding: 20px 0 20px 70px;
	position: relative;
	text-align: left;
}
ul.account_setting_browser_list li:last-child {
	border: 0;
}
ul.account_setting_browser_list li img {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 10px;
	left: 0;
}
ul.account_setting_browser_list li p {
	display:  inline-block;
	font-weight: 400;
	margin: 0;
	text-align: left;
}
ul.account_setting_browser_list li button {
	float: right;
	width:  80px;
}



/*---------------------------------------
   SECTION:  Tutorial
-----------------------------------------*/

/*----- tutorial header -----*/
.tutorial_header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
.tutorial_header .container {
	border-bottom: solid 1px #ebebeb;
	padding-top: 20px;
	padding-bottom: 20px;
}
.tutorial_header .close_tutorial {
	float: right;
}
.tutorial_header .close_tutorial a {
	display: block;
	margin-top: 20px;
	text-decoration: none;
}
.tutorial_header .close_tutorial a svg {
	fill: #8f9aa7;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.tutorial_header .close_tutorial a:hover svg, 
.tutorial_header .close_tutorial a:focus svg{
	fill: #75d43c;
}

/*----- tutorial body -----*/
.tutorial_body {
}
.tutorial_body h3 {
	font-weight: 400;
}
.tutorial_body p {
	font-size: 1em;
	font-weight: 400;
}

/*----- tutorial common -----*/
.tutorial_next_btn {
	margin: 0 auto;
	width: 170px;
	position: absolute;
	left: 50%;
	margin-left: -85px;
}
.btn_sdNext {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 4px 40px rgba(0,0,0,0.1);
	display: block;
	font-size: 1.1em;
	font-weight: 400;
	padding: 15px;
	position: relative;
	text-align: center;
	text-decoration: none;
}
.btn_sdNext svg {
	position: absolute;
	top: 22px;
	right: 15px;
	fill: #0096ff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_sdNext:hover svg, 
.btn_sdNext:focus svg {
	fill: #75d43c;
}

.tutorial_prev_btn {
	margin: 0;
	width: 170px;
}
.btn_sdPrev {
	background: #fbfbfb;
	border-radius: 4px;
	color: #1a2024;
	display: block;
	font-size: 1.1em;
	font-weight: 400;
	padding: 15px;
	position: relative;
	text-align: center;
	text-decoration: none;
}

.recording {
	clear: both;
	padding-bottom: 50px;
	text-align: center;
}
.recording p.record_text {
	color: #8f9aa7;
	font-size: 1.15em;
	font-weight: 300;
	padding-top: 40px;
	text-align: center;
}
.recording p.record_text.on {
	color: #0096ff;
}
.canvas {
	margin: 0 auto 50px;
	width: 270px;
}
.btn_record {
	border: 0;
	border-radius: 50%;
	margin: 0 auto;
	height: 70px;
	width: 70px;
	text-align: center;
}
.btn_record:hover, 
.btn_record:focus {
	box-shadow: 0 4px 40px rgba(0,0,0,0.1);
}
.btn_record_start {
	background: #ff5454;
}
.btn_record_start span {
	background: #fff;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	height: 20px;
	width: 20px;
}
.btn_record_stop {
	background: #018df2;
}
.btn_record_stop span {
	background: #fff;
	border-radius: 4px;
	display: block;
	margin: 0 auto;
	height: 26px;
	width: 26px;
}
.btn_record_play {
	background: #018df2;
}
.btn_record_play span {
	display: block;
	margin: 0 0 0 22px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 11px 0 11px 19px;
	border-color: transparent transparent transparent #fff;
}
.btn_record_pause {
	background: #8f9aa7;
	padding-top: 8px;
}
.btn_record_pause span {
	background: #fff;
	display: inline-block;
	height: 22px;
	width: 6px;
	border-radius: 3px;
	margin: 0 3px;
}
.link_re_record {
	padding-top: 20px;
	text-align: right;
}
.link_re_record a {
	font-size: 0.9em;
	text-decoration: none;
}
.volume_slider {
	padding-top: 20px;
	text-align: left;
}
.volume_slider #player {
    width: 120px;
	position: relative;
	display: inline-block;
}
.volume_slider #volume {
	position: absolute;
	left: 10px;
	top: -6px;
	height: 2px;
	width: 110px;
	background: #dee2e8;
}
.volume_slider #volume .volume_slider_range {
    height: 2px;
	width: 50px;
	position: absolute;
	background: #a2abb6;
}
.volume_slider #volume .volume_slider_handle {
	border-radius: 6px;
	top: -5px;
    width: 12px;
    height: 12px;
    background: #a2abb6;
	position: absolute;
	margin-left: 46px;
	cursor: pointer;
}
.audio_player_slider {
	margin: 0 auto 50px;
	width: 270px;
	text-align: left;
}
.audio_player_time {
	margin-bottom: 20px;
	text-align: center;
}
.audio_player_time span {
	color: #0096ff;
}
.audio_player_slider #audio_player {
    width: 270px;
	position: relative;
	display: inline-block;
}
.audio_player_slider #audio_track {
	position: absolute;
	left: 10px;
	height: 2px;
	width: 270px;
	background: #dee2e8;
}
.audio_player_slider #audio_track .audio_track_range {
    height: 2px;
	width: 50px;
	position: absolute;
	background: #0096ff;
}
.audio_player_slider #audio_track .audio_track_handle {
	border-radius: 6px;
	top: -5px;
    width: 12px;
    height: 12px;
    background: #0096ff;
	position: absolute;
	margin-left: 46px;
	cursor: pointer;
}

.spinner {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	background-image: url(../images/spinner.gif);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 350px 263px;
}

/*----- tutorial 1 -----*/
.tutorial1 {
	position: relative;
}

.tutorial1_stage1 .title, 
.tutorial1_stage2 .title, 
.tutorial1_stage3 .title, 
.tutorial1_stage4 .title {
	padding-top: 100px;
}
.tutorial1_stage1 .tutorial_next_btn, 
.tutorial1_stage2 .tutorial_next_btn, 
.tutorial1_stage3 .tutorial_next_btn, 
.tutorial1_stage4 .tutorial_next_btn {
	bottom: 20%;
}
.tutorial1_stage4 .title img {
	margin-top: 40px;
}
.tutorial1_stage5 .title, 
.tutorial1_stage6 .title, 
.tutorial1_stage7 .title, 
.tutorial1_stage8 .title {
	padding-top: 50px;
}
.tutorial1_stage5 .tutorial_prev_btn, 
.tutorial1_stage6 .tutorial_prev_btn, 
.tutorial1_stage7 .tutorial_prev_btn, 
.tutorial1_stage8 .tutorial_prev_btn {
	float: left;
}
.tutorial1_stage5 .tutorial_next_btn, 
.tutorial1_stage6 .tutorial_next_btn, 
.tutorial1_stage7 .tutorial_next_btn, 
.tutorial1_stage8 .tutorial_next_btn {
	left: auto;
	position: relative;
	float: right;
}
.tutorial1_stage9 .title {
	padding-top: 50px;
}
.tutorial1_stage9 .tutorial_next_btn {
	bottom: 20%;
}


/*----- tutorial 2 -----*/
.tutorial2 {
	position: relative;
}

.tutorial2_stage1 .title {
	padding-top: 100px;
}
.tutorial2_stage1 .title img {
	margin-bottom: 20px;
}
.tutorial2_stage1 .tutorial_next_btn {
	bottom: 20%;
}

.tutorial2_stage2 .title {
	padding-top: 50px;
	margin-bottom: 30px;
}
.tutorial2_stage2 .account_setting_friend_list {
	height: 250px;
	overflow-y: scroll;
	margin-bottom: 50px;
}
.tutorial2_stage2 .tutorial_prev_btn {
	float: left;
	width: auto;
}
.tutorial2_stage2 .tutorial_next_btn {
	left: auto;
	position: relative;
	float: right;
}

.tutorial2_stage3 .title {
	padding-top: 10px;
}
.tutorial2_stage3 .title img {
	margin-bottom: 10px;
	margin-left: 50px;
}.tutorial2_stage3 .title h3 {
	margin-bottom: 20px;
}
.tutorial2_stage3 .tutorial_next_btn {
	bottom: 10%;
}

.tutorial2_stage4 .title {
	padding-top: 50px;
}
.tutorial2_stage4 .tutorial_next_btn {
	bottom: 10%;
}

.tutorial2_stage5 .title {
	padding-top: 100px;
}
.tutorial2_stage5 .title img {
	margin-bottom: 10px;
}
.tutorial2_stage5 .tutorial_next_btn {
	bottom: 20%;
}
.bot_thumb_upload {
    background: url(../images/bots_thumb.png) no-repeat 50% 50%;
    background-size: cover;
	height: 160px;
	width: 160px;
    margin-right: 20px;
	margin-left: 100px;
	border-radius: 50%;
	/* cursor: pointer; */
    float: left;
}
.file-upload {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.file-upload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}