<section class="document friends">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div ng-include="leftNavigation()"></div>
            </div>
            <div class="col-md-9">
                <section class="api_box clearfix">
                    <header class="col-md-12 clearfix">
                        <h3>Connect with your friends</h3>
                    </header>
                    <div class="api_box_body clearfix">
                        <div class="tutorial_setting_friend_setting col-md-8 col-md-offset-2">
                            <div class="account_setting_friend_input">
                                <input type="text" placeholder="Email" ng-model="inviteEmail">
                                <button class="btn btn-default" ng-click="invite(inviteEmail)">Send</button>
                            </div>
                            <ul class="account_setting_friend_list clearfix">
                                <li ng-repeat="friend in friends">
                                    <img ng-src="{{friend.avatar}}">
                                    <p>{{friend.name}}</p>
                                    <button ng-if="!friend.status" class="btn btn-primary" ng-click="invite(friend.email)">Invite</button>
                                    <button ng-if="friend.status" class="btn btn-default disabled">Using</button>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button class="btn btn-default btn-lg btn-block animated fadeInUp">SNS連携し友達を読み込む</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>