<section class="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <section class="api_box clearfix">
                    <div class="api_box_body">
                        <h4>Authorize</h4>
                        <form action="{{action}}" method="post" class="signup_fm">
                            <input type="hidden" name="access_token" value="{{access_token}}">
                            <p>Do you authorize testclient?</p>
                            <input type="submit" name="authorized" value="Yes" class="btn btn-success">
                            <input type="submit" name="authorized" value="No" class="btn btn-default">
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>