<section class="signup">
    <div class="container">
        <section class="api_box clearfix">
            <div class="api_box_body">
                <h4>Terms of Use</h4>
                <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur dictum accumsan. Maecenas sagittis sed est eget semper. Donec a odio quis nisi commodo eleifend. Pellentesque tempus nunc eget facilisis lobortis. Proin condimentum, risus eu imperdiet dapibus, diam enim maximus quam, vitae sollicitudin purus turpis quis ipsum. Donec imperdiet, arcu eget convallis convallis, diam magna malesuada quam, et pulvinar sapien arcu eget libero. Aliquam auctor quam risus, posuere facilisis massa vulputate eget. Nam arcu arcu, mattis sed massa non, hendrerit ultricies orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et ex suscipit, rutrum est eu, rutrum turpis. Vivamus eget neque enim. Fusce volutpat aliquet tortor, vitae mattis elit feugiat ut. Nam scelerisque elit ut felis malesuada sagittis et at urna.</p>
                <p style="text-align: left;">Suspendisse vitae sagittis est, vel venenatis sapien. Vestibulum aliquet turpis eget posuere fringilla. In lobortis quam fermentum neque maximus, eget pharetra dui tincidunt. Curabitur blandit erat mauris, quis convallis lacus vulputate a. Mauris bibendum, sem vel mollis pellentesque, massa nibh consectetur risus, sit amet iaculis urna justo commodo felis. Ut et risus mauris. Nulla maximus leo quis arcu maximus, sit amet condimentum sapien viverra. Sed eget posuere nunc. Quisque sed elementum urna, a eleifend lacus. Ut aliquam, quam in ultrices efficitur, tellus leo tincidunt diam, et malesuada enim felis at erat. In dignissim vulputate volutpat. Praesent dictum nibh sit amet justo aliquam, et sagittis tellus cursus.</p>
                <p style="text-align: left;">Donec mattis convallis purus at aliquam. Proin sagittis, nunc sit amet commodo tristique, ante turpis congue neque, non suscipit justo neque nec dui. Fusce lacinia diam a lacinia bibendum. Vivamus quis mattis mauris. Mauris eget egestas ligula. Donec vitae nunc scelerisque, auctor tortor eu, scelerisque tortor. In hac habitasse platea dictumst. Duis facilisis felis a pellentesque rhoncus. Sed sed rutrum ante. Vestibulum nec rhoncus sem, non finibus erat. Phasellus rutrum elit sem, at pulvinar est convallis sed.</p>
                <a ng-href="/signup" class="btn btn-primary btn-block btn-lg" style="text-decoration: none;">Back to Sign Up</a>
            </div>
        </section>
    </div>
</section>