<!-- Document -->
<section class="document account_setting account_setting_profile">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div ng-include="leftNavigation()"></div>
			</div>
			<div class="col-md-9">
				<section class="api_box clearfix">
					<header class="col-md-12 clearfix">
						<h3>Profile</h3>
						<p>あなたのことを詳しく教えてください。</p>
					</header>
					<div class="api_box_body clearfix">
						<div class="account_setting_profile_setting">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="control-label col-sm-4">Surname</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/avatar.jpg" class="ai">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Name</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/avatar.jpg" class="ai">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Furigana</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_LinkedIn.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Email</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Instagram.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Gender</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Twitter.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Occupation</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Facebook.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Education</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Slack.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Address</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Phone number</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Mobile number</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Date of birth</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Self-introduction</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Hobby</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Interests</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Nickname</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Bloodtype</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Language</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Religion</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Political view</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Skill</label>
									<div class="col-sm-4">
										<input type="text" name="" class="form-control" placeholder="米倉" disabled>
									</div>
									<div class="col-sm-4">
										<div class="retrieved_data_source"><img src="images/icon_Alt.png">14:16 11/22/2016</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-6 col-sm-offset-3">
										<button class="btn btn-primary btn-lg btn-block animated fadeInUp">Edit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>
<!-- /END Document -->