<!-- <div class="sidebar-nav api_nav api_menu">
    <div class="navbar navbar-default navmenu-fixed-left offcanvas hidenav" role="navigation">
        <div class="navbar-offcanvas navbar-offcanvas-touch" id="js-bootstrap-offcanvas">
            <button type="button" class="offcanvas-toggle close_btn" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas"><i class="icon_close"></i></button>
            <i class="fa fa-times" ng-if="open_side" ng-click="closeSideBar()"></i>
            <br ng-if="open_side">
            <h5>SETTINGS</h5>
            <ul class="nav navbar-nav">
                <li ng-class="{'active':isPage('data_linkage')}"><a ng-href="/data_linkage" href="javascript:void(0)" >Data Linkage</a></li>
                <li ng-class="{'active':isPage('friends')}"><a ng-href="/friends" href="javascript:void(0)" >Friends</a></li>
                <li ng-class="{'active':isPage('user_info')}"><a ng-href="/user_info" href="javascript:void(0)" >User Info</a></li>
            </ul>
        </div>
        /.nav-collapse
    </div>
</div>
 -->

<div class="sidebar-nav api_nav">
	<div class="navbar navbar-default navmenu-fixed-left offcanvas" role="navigation">
		<div class="navbar-offcanvas navbar-offcanvas-touch" id="js-bootstrap-offcanvas">
			<button type="button" class="offcanvas-toggle close_btn" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas"><i class="icon_close"></i></button>
			<ul class="nav navbar-nav">
				<li ng-class="{'active':isPage('items')}"><a ng-href="/items" href="javascript:void(0)">Items</a></li>
				<li ng-class="{'active':isPage('account')}"><a ng-href="/account" href="javascript:void(0)">Account</a></li>
				<li ng-class="{'active':isPage('avatar')}" ><a ng-href="/avatar" href="javascript:void(0)">Avatar</a></li>
				<li ng-class="{'active':isPage('data_linkage')}"><a ng-href="/data_linkage" href="javascript:void(0)">Data linkage</a></li>
				<li ng-class="{'active':isPage('profile')}"><a ng-href="/profile" href="javascript:void(0)">Profile</a></li>
				<li ng-class="{'active':isPage('friends')}"><a ng-href="/friends" href="javascript:void(0)">Friends</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>