<!-- Document -->
<section class="document account_setting account_setting_items">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div ng-include="leftNavigation()"></div>
			</div>
			<div class="col-md-9">
				<section class="api_box clearfix">
					<header class="col-md-12 clearfix">
						<h3>Items</h3>
					</header>
					<div class="api_box_body clearfix">
						<div class="account_setting_items_setting">
							<div class="col-md-8 col-md-offset-2">
								<ul class="account_setting_items_list clearfix">
									<li><p>al+ mobile app</p><button ng-click="install()" class="btn btn-primary">Install</button></li>
									<li><p>al+ voice clone</p><button ng-click="open()" class="btn btn-default">Open</button></li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>
<!-- /END Document -->