<section class="signup">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<section class="api_box clearfix">
					<div class="api_box_body">
						<form class="form-horizontal">
							<h4>Dear {{name}},</h4>
							<p>
                                Thank you for signing up for the al+ Customer Solution Account.<br>
							    A verification email has been sent to your account, please follow the instruction in that email.
                            </p>
							<p>You will be able to login after verification has been completed.</p>
							<p>al+ SSO Account<br>Member Registration Administrator</p>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>