<!-- Document -->
<section class="document account_setting account_setting_avatar">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div ng-include="leftNavigation()"></div>
			</div>
			<div class="col-md-9">
				<section class="api_box clearfix">
					<header class="col-md-12 clearfix">
						<h3>Avatar</h3>
					</header>
					<div class="api_box_body clearfix">
						<div class="account_setting_avatar_setting">
							<div class="avatar_thumb clearfix">
								<div class="avatar_thumb_upload">
									<form ng-submit="uploadPicture($file)" class="dropzone" id="avatar_image"></form>
									<img src="images/upload_ic_pen.svg" alt="upload">
									<p>Change profile photo</p>
								</div>
								<h5>Upload image</h5>
								<p>JPG, GIF or PNG. 512x512 pixels or 1024x1024</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>