<section class="signup">
    <div class="container">
        <section class="api_box clearfix">
            <div class="api_box_body">
                <h4>Error</h4>
                <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur dictum accumsan. Maecenas sagittis sed est eget semper. Donec a odio quis nisi commodo eleifend. Pellentesque tempus nunc eget facilisis lobortis. Proin condimentum, risus eu imperdiet dapibus, diam enim maximus quam, vitae sollicitudin purus turpis quis ipsum. Donec imperdiet, arcu eget convallis convallis, diam magna malesuada quam, et pulvinar sapien arcu eget libero. Aliquam auctor quam risus, posuere facilisis massa vulputate eget. Nam arcu arcu, mattis sed massa non, hendrerit ultricies orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et ex suscipit, rutrum est eu, rutrum turpis. Vivamus eget neque enim. Fusce volutpat aliquet tortor, vitae mattis elit feugiat ut. Nam scelerisque elit ut felis malesuada sagittis et at urna.</p>
            </div>
        </section>
    </div>
</section>