<!-- Document -->
<section class="document account_setting account_setting_account">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				 <div ng-include="leftNavigation()"></div>
			</div>
			<div class="col-md-9">
				<section class="api_box clearfix">
					<header class="col-md-12 clearfix">
						<h3>Account</h3>
					</header>
					<div class="api_box_body clearfix">
						<div class="account_setting_account">
							<form class="form-horizontal">
								<div class="form-group">
									<label class="control-label col-sm-4">First Name</label>
									<div class="col-sm-8 col-md-6">
										<input type="text" ng-model="user.given_name" class="form-control" placeholder="Isabella">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Last Name</label>
									<div class="col-sm-8 col-md-6">
										<input type="text" ng-model="user.family_name"  class="form-control" placeholder="Sparrow">
									</div>
								</div>
								<div class="form-group">
									<label class="col-form-label col-sm-4 text-right">Gender</label>
									<div class="col-sm-7 col-sm-offset-1">
										<label><input type="radio" ng-model="user.gender" id="male" name="gender" value="male"/>Male</label>
										<label><input type="radio" ng-model="user.gender" id="female" name="gender" value="female" />Female</label>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Password</label>
									<div class="col-sm-8 col-md-6">
										<input type="password" ng-model="user.old_password" class="form-control" placeholder="********">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">New Password</label>
									<div class="col-sm-8 col-md-6">
										<input type="password" ng-model="user.new_password" class="form-control" placeholder="********">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-4">Confirm Password</label>
									<div class="col-sm-8 col-md-6">
										<input type="password" ng-model="confirm_password" class="form-control" placeholder="********">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-6 col-sm-offset-3">
										<button ng-click="edit()" class="btn btn-primary btn-lg btn-block animated fadeInUp">Edit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>
<!-- /END Document -->

