<!DOCTYPE html>
<html ng-app="sso">
<head>
<title>al+</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Personal Artifical Intelligence will influence the world significantly.">
<meta name="keywords" content="人工知能,alt,オルツ,おるつ,alt inc,オルト,iphone,アイホン,無料, free, アプリ, app, Artificial Intelligence ,A.I., AI">
<meta name="author" content="Alt inc">
<base href="/">
<link rel="shortcut icon" href="/images/favicon.ico">

<!--  CSS Files comes here -->
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/css/bootstrap-switch.css" rel="stylesheet" media="screen">
<!-- Font -->
<link href="/css/fonts/style.css" rel="stylesheet" media="screen">
<link href="/css/font-awesome.min.css" rel="stylesheet" media="screen">
<!-- End font -->
<link href="/css/animate.min.css" rel="stylesheet" media="screen">
<link href="/css/style.css" rel="stylesheet" media="screen">
<link href="/css/responsive.css" rel="stylesheet" media="screen">

<!-- plugin stylesheet -->
<link href="/css/jquery.jscrollpane.css" rel="stylesheet" media="screen">
<link href="/css/slideinpanel.css" rel="stylesheet" media="screen">
<link href="/css/select2.css" rel="stylesheet" media="screen">
<link href="/css/bootstrap.offcanvas.css" rel="stylesheet" media="screen">
<link href="/css/bootstrap-switch.css" rel="stylesheet" media="screen">
<link href="/css/angular-notify.css" rel="stylesheet" media="screen">

<!--  Google fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:600,400,300' rel='stylesheet' type='text/css'>

<!--  Modernizer and IE specyfic files -->
<script src="/js/lib/modernizr.custom.js"></script>

</head>

<body id="angular_view" class="minimum_header_body">

    <!-- Navigation -->
    <nav id="navigation" class="navbar navbar-fixed-top minimum_header">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="logo"><a href="/" target="_self"><img src="/images/logo.png" alt="al+"></a></div>
                        <div ng-controller="navigationController" class="top_menu">
                            <ul ng-if="!isLogged" ng-cloak>
                                <li><a ng-href="/login" class="login">Log In</a></li>
                            </ul>
                            <ul ng-if="isLogged"  ng-cloak>
                                <li><a ng-href="/account" class="login">User Info</a></li>
                                <li><a ng-click="logout()" class="login">Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav> <!--/Navigation -->
    
	<!-- Navigation 
	<nav id="navigation" class="navbar navbar-fixed-top minimum_header">
		<div class="navbar-inner">
			<div class="container">
				<div class="row" ng-controller="navigationController">
					<div class="col-md-12">
						<button type="button" class="navbar-toggle offcanvas-toggle" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas"><i class="fa fa-bars"></i></button>
						<div id="logo"><a href="#home"><img src="images/logo.png" alt="al+"></a></div>
						<div class="top_menu_account">
							<ul class="nav navbar-nav" ng-show="isLogged">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle lang" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Isabella <span class="navbar_avatar"><img src="images/avatar.jpg"></span><i class="fa fa-angle-down"></i></a>
									<ul class="dropdown-menu">
										<li><a href="/account">Account</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="top_menu">
							<ul>
								<li>
									<a href="index.html">English</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav> --><!--/Navigation -->

    <div class="container ng-container" ng-view autoscroll="true"></div>

    <!-- FOOTER -->
	<footer id="footer" class="footer minimum_footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<p class="copyright">Copyright 2015, al+ Inc. All rights reserved.</p>
				</div>
				<div class="col-sm-4">
					<p class="logo">al+ Inc.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- /END FOOTER -->

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap-switch.js"></script>
    <script src="js/lib/jquery.easing.min.js"></script>
	<script src="js/lib/jquery.form.js"></script>
	<script src="js/lib/retina.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/lib/smoothscroll.js"></script>
	<script src="js/lib/sticky.min.js"></script>
	<script src="js/lib/waypoints.min.js"></script>
	<script src="js/lib/carousel.min.js"></script>
	<script src="js/lib/nivo-lightbox.min.js"></script>
	<script src="js/lib/sudoslider.min.js"></script>
	<script src="js/lib/parallax.js"></script>
	<script src="js/jquery.mousewheel.js"></script>
	<script src="js/jquery.jscrollpane.min.js"></script>
	<script src="js/smoothScroll.js"></script>
	<script src="js/slideinpanel.js"></script>
	<script src="js/select2.min.js"></script>
	<!-- <script src="js/main.js"></script> -->
	<script src="js/plugins.js"></script>
	<script src="js/contact.js"></script>
	<script src="js/bootstrap.offcanvas.min.js"></script>

    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.min.js"></script>
    <script src="/bower_components/angular-notify/dist/angular-notify.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>

    <script src="/app/app.js"></script>
    <script src="/app/authorize/controller.js"></script>
    <script src="/app/error/controller.js"></script>
    <script src="/app/login/controller.js"></script>
    <script src="/app/signup/controller.js"></script>
    <script src="/app/signup_verification/controller.js"></script>
    <script src="/app/signup_completed/controller.js"></script>
    <script src="/app/items/controller.js"></script>
    <script src="/app/account/controller.js"></script>
    <script src="/app/avatar/controller.js"></script>
    <script src="/app/profile/controller.js"></script>
    <script src="/app/friends/controller.js"></script>
    <script src="/app/data_linkage/controller.js"></script>
    <script src="/app/friends/controller.js"></script>
    <script src="/app/terms_of_use/controller.js"></script>
    <script src="/app/debug/controller.js"></script>
<!--     <script src="/app/user_info/controller.js"></script> -->
    <script src="/app/service/auth_service.js"></script>
    <script src="/app/service/user_service.js"></script>
    <script src="/app/service/support_service.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("[name='sns-checkbox']").bootstrapSwitch();
		});
	</script>
</body>
</html>